# Logs
node_modules
dist
dist-ssr
*.local

# Editor folders
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store

# Environment variables (CRITICAL)
.env
.env.local
.env.production.local

# Firebase
.firebase/